works/twe/src/twe/ws/twiki.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://miageprojet.unice.fr/twikitestnice/service" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://miageprojet.unice.fr/twikitestnice/service" soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="service">
<wsdl:types>
<xsd:schema targetNamespace="http://miageprojet.unice.fr/twikitestnice/service" xmlns="http://miageprojet.unice.fr/twikitestnice/service">
<xsd:complexType name="ConnectionInfo">
<xsd:sequence>
<xsd:element name="key" type="xsd:int"/>
<xsd:element name="timeout" type="xsd:int"/>
<xsd:element name="subwebs" type="xsd:boolean"/>
<xsd:element name="adminLock" type="xsd:boolean"/>
<xsd:element name="locksActualization" type="xsd:boolean"/>
<xsd:element name="completeRemoveAllowed" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="User">
<xsd:sequence>
<xsd:element name="usage" type="xsd:string"/>
<xsd:element name="login" type="xsd:string"/>
<xsd:element name="connection" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfUsers">
<xsd:complexContent>
<xsd:restriction base="soapenc:Array">
<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:User[]"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="Properties">
<xsd:complexContent>
<xsd:restriction base="soapenc:Array">
<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="listeElement">
<xsd:complexContent>
<xsd:restriction base="soapenc:Array">
<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="listeTopic">
<xsd:complexContent>
<xsd:restriction base="soapenc:Array">
<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="connectRequest">
<wsdl:part name="usage" type="xsd:string"/>
<wsdl:part name="username" type="xsd:string"/>
<wsdl:part name="password" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="connectResponse">
<wsdl:part name="info" type="tns:ConnectionInfo"/>
</wsdl:message>
<wsdl:message name="getUsersRequest"/>
<wsdl:message name="getUsersResponse">
<wsdl:part name="users" type="tns:ArrayOfUsers"/>
</wsdl:message>
<wsdl:message name="disconnectRequest">
<wsdl:part name="key" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="disconnectResponse">
<wsdl:part name="response" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="pingRequest">
<wsdl:part name="key" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="pingResponse">
<wsdl:part name="response" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="renameTopicRequest">
<wsdl:part name="key" type="xsd:int"/>
<wsdl:part name="web" type="xsd:string"/>
<wsdl:part name="topic" type="xsd:string"/>
<wsdl:part name="name" type="xsd:string"/>
<wsdl:part name="update" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="renameTopicResponse">
<wsdl:part name="response" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="lockTopicRequest">
<wsdl:part name="key" type="xsd:int"/>
<wsdl:part name="web" type="xsd:string"/>
<wsdl:part name="topic" type="xsd:string"/>
<wsdl:part name="doLock" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="lockTopicResponse">
<wsdl:part name="response" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="moveTopicRequest">
<wsdl:part name="key" type="xsd:int"/>
<wsdl:part name="oldWeb" type="xsd:string"/>
<wsdl:part name="topic" type="xsd:string"/>
<wsdl:part name="newWeb" type="xsd:string"/>
<wsdl:part name="newParent" type="xsd:string"/>
<wsdl:part name="update" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="moveTopicResponse">
<wsdl:part name="response" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="removeTopicRequest">
<wsdl:part name="key" type="xsd:int"/>
<wsdl:part name="web" type="xsd:string"/>
<wsdl:part name="topic" type="xsd:string"/>
<wsdl:part name="option" type="xsd:int"/>
<wsdl:part name="trashName" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="removeTopicResponse">
<wsdl:part name="response" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="mergeTopicsRequest">
<wsdl:part name="key" type="xsd:int"/>
<wsdl:part name="webTarget" type="xsd:string"/>
<wsdl:part name="topicTarget" type="xsd:string"/>
<wsdl:part name="webFrom" type="xsd:string"/>
<wsdl:part name="topicFrom" type="xsd:string"/>
<wsdl:part name="attachments" type="xsd:boolean"/>
<wsdl:part name="identify" type="xsd:boolean"/>
<wsdl:part name="removeOption" type="xsd:int"/>
<wsdl:part name="dontNotify" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="mergeTopicsResponse">
<wsdl:part name="response" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="copyTopicRequest">
<wsdl:part name="key" type="xsd:int"/>
<wsdl:part name="srcWeb" type="xsd:string"/>
<wsdl:part name="topic" type="xsd:string"/>
<wsdl:part name="dstWeb" type="xsd:string"/>
<wsdl:part name="newName" type="xsd:string"/>
<wsdl:part name="parent" type="xsd:string"/>
<wsdl:part name="attachments" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="copyTopicResponse">
<wsdl:part name="response" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="setAdminLockRequest">
<wsdl:part name="key" type="xsd:int"/>
<wsdl:part name="doLock" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="setAdminLockResponse">
<wsdl:part name="response" type="xsd:boolean"/>
</wsdl:message>
<wsdl:message name="listeTopics">
<wsdl:part name="listeTop" type="tns:listeTopic"/>
</wsdl:message>
<wsdl:message name="listeElements">
<wsdl:part name="listeElem" type="tns:listeElement"/>
</wsdl:message>
<wsdl:message name="property">
<wsdl:part name="proprietetopic" type="tns:Properties"/>
</wsdl:message>
<wsdl:message name="chaine">
<wsdl:part name="path" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="web">
<wsdl:part name="chaineweb" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="topic">
<wsdl:part name="chainetopic" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="taille">
<wsdl:part name="size" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="name">
<wsdl:part name="nameTopic" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="hellop">
<wsdl:part name="sHellop" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="hellor">
<wsdl:part name="sHellor" type="xsd:string"/>
</wsdl:message>
<wsdl:portType name="ServicePortType">
<wsdl:operation name="connect">
<input message="tns:connectRequest"/>
<output message="tns:connectResponse"/>
</wsdl:operation>
<wsdl:operation name="getUsers">
<input message="tns:getUsersRequest"/>
<output message="tns:getUsersResponse"/>
</wsdl:operation>
<wsdl:operation name="disconnect">
<input message="tns:disconnectRequest"/>
<output message="tns:disconnectResponse"/>
</wsdl:operation>
<wsdl:operation name="ping">
<input message="tns:pingRequest"/>
<output message="tns:pingResponse"/>
</wsdl:operation>
<wsdl:operation name="renameTopic">
<input message="tns:renameTopicRequest"/>
<output message="tns:renameTopicResponse"/>
</wsdl:operation>
<wsdl:operation name="lockTopic">
<input message="tns:lockTopicRequest"/>
<output message="tns:lockTopicResponse"/>
</wsdl:operation>
<wsdl:operation name="moveTopic">
<input message="tns:moveTopicRequest"/>
<output message="tns:moveTopicResponse"/>
</wsdl:operation>
<wsdl:operation name="removeTopic">
<input message="tns:removeTopicRequest"/>
<output message="tns:removeTopicResponse"/>
</wsdl:operation>
<wsdl:operation name="mergeTopics">
<input message="tns:mergeTopicsRequest"/>
<output message="tns:mergeTopicsResponse"/>
</wsdl:operation>
<wsdl:operation name="copyTopic">
<input message="tns:copyTopicRequest"/>
<output message="tns:copyTopicResponse"/>
</wsdl:operation>
<wsdl:operation name="setAdminLock">
<input message="tns:setAdminLockRequest"/>
<output message="tns:setAdminLockResponse"/>
</wsdl:operation>
<wsdl:operation name="giveHierarchy">
<input message="tns:chaine"/>
<output message="tns:listeElements"/>
</wsdl:operation>
<wsdl:operation name="giveWebProperties">
<input message="tns:web"/>
<output message="tns:taille"/>
</wsdl:operation>
<wsdl:operation name="giveTopicProperties">
<input message="tns:topic"/>
<output message="tns:property"/>
</wsdl:operation>
<wsdl:operation name="sameTopicParent">
<input message="tns:name"/>
<output message="tns:listeTopics"/>
</wsdl:operation>
<wsdl:operation name="sayHello">
<input message="tns:hellop"/>
<output message="tns:hellor"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="Binding" type="tns:ServicePortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="connect">
<soap:operation soapAction="urn:Connection#connect"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction="urn:Connection#getUsers"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</output>
</operation>
<operation name="disconnect">
<soap:operation soapAction="urn:Connection#disconnect"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction="urn:Connection#ping"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</output>
</operation>
<operation name="renameTopic">
<soap:operation soapAction="urn:Refactoring#renameTopic"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</output>
</operation>
<operation name="lockTopic">
<soap:operation soapAction="urn:Topics#lockTopic"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Topics"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Topics"/>
</output>
</operation>
<operation name="moveTopic">
<soap:operation soapAction="urn:Refactoring#moveTopic"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</output>
</operation>
<operation name="removeTopic">
<soap:operation soapAction="urn:Refactoring#removeTopic"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</output>
</operation>
<operation name="mergeTopics">
<soap:operation soapAction="urn:Refactoring#mergeTopics"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</output>
</operation>
<operation name="copyTopic">
<soap:operation soapAction="urn:Refactoring#copyTopic"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Refactoring"/>
</output>
</operation>
<operation name="setAdminLock">
<soap:operation soapAction="urn:Connection#setAdminLock"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Connection"/>
</output>
</operation>
<operation name="giveHierarchy">
<soap:operation soapAction="urn:Arborescence#giveHierarchy"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</output>
</operation>
<operation name="giveWebProperties">
<soap:operation soapAction="urn:Arborescence#giveWebProperties"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</output>
</operation>
<operation name="giveTopicProperties">
<soap:operation soapAction="urn:Arborescence#giveTopicProperties"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</output>
</operation>
<operation name="sameTopicParent">
<soap:operation soapAction="urn:Arborescence#sameTopicParent"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction="urn:Arborescence#sayHello"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Arborescence"/>
</output>
</operation>
</wsdl:binding>
<wsdl:service name="Service">
<wsdl:port name="ServicePortType" binding="tns:Binding">
<soap:address location="http://miageprojet.unice.fr/twikitestnice/bin/service"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
